* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --bgPrimaryColor: #181818;
  --bgSecundaryColor: #202020;
  --bgTertiaryColor: #484848;
  --fontPrimaryColor: #E3E2E2;
  --fontSecundaryColor: #BCBCBC;
  --fontTertiaryColor: #989898;
  --btnColor: #0891B2;
  --activedMainColor: #07A5C4;
}

.container-geral {
  background-color: var(--bgPrimaryColor);
}