body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bgPrimaryColor: #181818;
  --bgSecundaryColor: #202020;
  --bgTertiaryColor: #484848;
  --fontPrimaryColor: #E3E2E2;
  --fontSecundaryColor: #BCBCBC;
  --fontTertiaryColor: #989898;
  --btnColor: #0891B2;
  --activedMainColor: #07A5C4;
  --errorColor: #F87171;
}

@media screen and (max-width: 1280px) {
  body {
    overflow-x: auto;
    width: 100%;
  }

  .container-geral {
    overflow-x: auto;
    min-width: 1280px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;

  }
}